.testimonial-page {
    .card {
        .card-content {
            padding: 40px;
        }
        .card-action {
            text-align: right;
            font-weight: bold;
            padding-right: 30px;
        }
    }
}
