<div class="page-container buyers-page">
    <div class="card-container">
        <div class="card-panel white calculator-wrapper">
            <div class="calculator">
                calculator here
            </div>
        </div>
        <div class="card-panel white help">
            <div class="help-text">
                <div class="title">What I Can Do For Buyers</div>
                <ul>
                    <li>Educate you through the entire process</li>
                    <li>Listen to your needs to understand your real estate objectives</li>
                    <li>Help you understand all of the paperwork</li>
                    <li>Handle any problems that arise during the transaction</li>
                    <li>Properly prepare forms, contracts and disclosures, which are required by law, and make sure that they are legally correct</li>
                    <li>Provide comparable sales data to assure that you are paying the proper price for your home</li>
                    <li>Help you find the right home in the right neighborhood</li>
                    <li>Screen homes before your inspection to make sure the property meets your needs</li>
                    <li>Guide you regarding the repairs that should be made</li>
                    <li>Show you homes in an effective and professional manner</li>
                    <li>Guide you in your selection of escrow/closing and title people</li>
                    <li>Oversee the closing process</li>
                    <li>See that the completion of the transaction is smooth, including obtaining keys and taking possession of the property</li>
                    <li>Help you spot sellers who are attempting to take advantage of you</li>
                    <li>Help you understand the use and limitations of good faith deposits</li>
                    <li>Advise you as to when you should seek the advice of an attorney</li>
                    <li>Help you to understand the complete loan, escrow/closing and title process</li>
                    <li>Advise you as to any inspections such as septic, well or soil, which might be applicable to the specific property in which you are interested</li>
                    <li>Guide you as to how the escrow/closing instructions should be prepared</li>
                    <li>Properly handle the walk-through process with you prior to the final closing</li>
                    <li>See that any repairs or requirements are met prior to the closing</li>
                    <li>Advise you as to what course of action should be taken if the seller refuses to close the transaction</li>
                    <li>Negotiate and deal effectively on your behalf with the seller, other agents, escrow/closing, title people and attorneys</li>
                    <li>See that each and every facet of the buying process is effectively and professionally handled in your best interest</li>
                </ul>
            </div>
        </div>
    </div>
</div>
