<div class="page-container checklist-page" ng-controller="ChecklistCtrl">
    <div class="card-panel white no-print" id="print">
        Print this page
    </div>
    <div class="card-panel white checklist">
        <div class="title">Pre-Marketing Checklist</div>
        <div class="info no-print">Fully preparing your home for sale can make a considerable difference in the time it takes to sell it. You can help eliminate buyer objections before they arise by making necessary repairs and improvements, some of which are suggested below.</div>
        <div class="subtitle">Outdoors</div>
        <ul>
            <li>Spruce up your garden and lawn; trim shrubbery and replace dead plants.</li>
            <li>Yard and patio should be neat; outdoor furniture should be clean and in good shape.</li>
            <li>Manicure your front yard; make sure your driveway and entryway are free of clutter.</li>
        </ul>
        <div class="subtitle">Exterior</div>
        <ul>
            <li>Clean or paint your front door - remember first impressions last the longest!</li>
            <li>Check that house numbers, mailbox, and exterior lighting are all in good condition.</li>
            <li>Touch up with fresh paint as needed.</li>
            <li>Inspect chimney for cracks or earthquake damage.</li>
            <li>Repair loose trim, drain pipes, and fencing.</li>
            <li>Clean stains and window screens.</li>
        </ul>
        <div class="subtitle">Garage</div>
        <ul>
            <li>Remove clutter and tidy up the shelves.</li>
            <li>Clean the floor.</li>
        </ul>
        <div class="subtitle">Living Areas</div>
        <ul>
            <li>Apply fresh paint as needed... think about brightening your interiors with neutral-toned paint.
            <li>Clean carpets.</li>
            <li>Replace burnt out light bulbs.</li>
            <li>Clean the fireplace and remove smoke stains from the wall and mantle.</li>
            <li>Clean window coverings.</li>
            <li>Replace damaged window blinds.</li>
        </ul>
        <div class="subtitle print-break">Kitchen</div>
        <ul>
            <li>Sinks, appliances and counter tops should sparkle without any clutter.</li>
            <li>Wax the floor.</li>
            <li>Clean oven, range and other appliances.</li>
            <li>Clean tile and grout; replace if necessary.</li>
        </ul>
        <div class="subtitle">Bathrooms</div>
        <ul>
            <li>Clean mirrors, glass, chrome and porcelain surfaces.</li>
            <li>Replace shower curtain if necessary.</li>
            <li>Fix any faucet drips or leaks.</li>
            <li>Clean tile, grout and caulking; replace if necessary.</li>
        </ul>
        <div class="subtitle">Closets</div>
        <ul>
            <li>Doors and drawers should open and close easily.</li>
            <li>Remove clutter; tidy up shelves and racks.</li>
            <li>Shoes and clothes should be neatly arranged.</li>
        </ul>
        <div class="subtitle">Overall</div>
        <ul>
            <li>Check the basics around the house. It takes just a minute to check all doors, windows and cabinets to make sure they don’t stick, squeak or are too loose.</li>
            <li>Clean your furnace & water heater, so buyers know they are looking at a house that has been well maintained.</li>
        </ul>
    </div>
</div>
