<div class="page-container testimonial-page">
    <div class="card white">
        <div class="card-content">
            <p>Emily did a great job! She was patient and always answered our questions in a timely manner. We are glad we have Emily as our realtor and have recommended her to our friends.
            </p>
        </div>
        <div class="card-action">
            Chia Ju C., Software Engineer
        </div>
    </div>
    <div class="card white">
        <div class="card-content">
            <p>Two months ago, we started researching whether to continue renting or buy our first home, with practically no knowledge of the market, mortgaging and all its processes, Emily quickly helped us narrow down our housing preference and budget range to build a watch-list for us. With pretty much all the housing opportunities popping out and closing within a few days, Emily always kept us updated on fresh opportunities that fit our needs.</p>
            <br>
            <p>Then the house we loved at first sight appeared, scheduled to close with only 3 days on the market. We were financially under-prepared. Emily with her financial partner Caroline helped us secure a mortgage pre-approval with good rates to make a strong offer. Emily explained every process and addressed every problem to satisfaction, wasting very little time.</p>
            <br>
            <p>It took a couple of attempts until someone finally accepted our offer. From the searching process all the way to closing, Emily had been transparent on all the fees and commissions, she has always answered or redirected our question and problems to the proper expert within a day, she was always there to negotiate a better deal on our behave. She is professional, efficient, attentive. She's just that good at her job. I don't know how much more professional or resourceful a realtor can get, so I strongly recommend working with Emily and her team.
            </p>
        </div>
        <div class="card-action">
            Yu Hsin S., Software Engineer
        </div>
    </div>
    <div class="card white">
        <div class="card-content">
            <p>We had an excellent experience working with Emily to sell our townhome. She came extremely prepared and organized for the first meeting; having done all the local market research and even planned a carefully laid out schedule. A process that I thought would take many months, only took several weeks. She is extremely professional and responded to all emails and phone calls in an exceptionally timely manner. Even before I went back to check my email, she had already written multiple responses. Because of her diligence we were always on time or faster than the projected schedule.</p>
            <br>
            <p>She is very meticulous, making sure all the details are taken care of so that everything went smoothly. I really appreciated that with my busy schedule and even having a baby during the time we were selling, she still managed to keep us ahead of schedule. Our home sold within just a few weeks of listing with multiple great offers, and we closed earlier than expected.
            <p>Overall, a wonderful experience with a wonderful agent. If you want a professional, personalized, detailed oriented, and attentive experience, go with Emily. Highly recommended.</p>
        </div>
        <div class="card-action">
            <ul>
                <li>Wei Liu, MD</li>
                <li>Allen Liu, Software Engineer</li>
            </ul>
        </div>
    </div>
    <div class="card white">
        <div class="card-content">
            <p>As a first time home buyer without much knowledge about the entire process, Emily accomplished a mission impossible to help us buy a condo in short sale. She explained every step for purchasing in detail and is always very patient to answer any questions we have in a timely manner. More importantly, she has strong connections to other people in different aspects and is willing to consult them for us. For example, we had contacted some loaning agents by ourselves about the mortgage before meeting Emily but most of the packages were disappointing. After discussing with Emily, we were referred by her to one agent she collaborated well with. Eventually, we got a great deal for the mortgage and closed the deal smoothly.</p>
            <br>
            <p>Since the property we purchased was a short sale. There were more complicated and lengthy processes to deal with than a regular sale. Emily is very good at
            communicating with other parties involved and often negotiated a better deal for us. Not to mention that we were very busy with our new jobs during that
            period and Emily basically helped us take care of all the details. In summary, we highly recommend Emily as a real estate agent and would be happy to work with her again in the future.</p>
        </div>
        <div class="card-action">
            SY C. Postdoctoral at Stanford University
        </div>
    </div>
    <div class="card white">
        <div class="card-content">
            <p>Emily Chiang is a very knowledgeable real estate professional. We really treasured her honest opinions on the properties that she brought us to see. She was always responsive to our requests while working with us in the past four years.</p>
        </div>
        <div class="card-action">
            Peng and Lois, Private Investors
        </div>
    </div>
    <div class="card white">
        <div class="card-content">
            <p>We just purchased a townhouse with Emily and would strongly recommend Emily Chiang to you. She is very professional, highly knowledgable about the market, super patient and friendly.</p>
            <br>
            <p>As first-time home-buyers, we really appreciate that Emily has patiently helped us through every step of the entire process and has been always available to help us. She kept track of new listings and would inform us when interesting lists appear. For listings that interested us, Emily would show the listings to us or go to the open house together with us and provide valuable information and advice to us. She always answers our phone calls and emails promptly, even on weekends and at nights. For questions that require asking other people, Emily would quickly follow up with the related people and get back to us at the earliest possible moment. Throughout the process, we feel that Emily did an outstanding job at representing and helping us the buyers. We feel really lucky to have found Emily as our agent.</p>
        </div>
        <div class="card-action">
            <ul>
                <li>Xiao, Software Engineer</li>
                <li>Yunnan, Software Engineer, Ph.D</li>
            </ul>
        </div>
    </div>
    <div class="card white">
        <div class="card-content">
            <p>We would give Emily Chiang our highest recommendations among the five realtors that we have worked with in the past. She is clearly professionaland went above and beyond as demonstrated by her due-diligence, easyaccessibility as well as her no-pressure approach that made our purchase transaction seamless.</p>
            <br>
            <p>That she was customer oriented was reflected in her earnest, down-to-earth and very personable approach.</p>
            <br>
            <p>Regrettably, the only notable downside was not having her involved earlier in our transactions.</p>
        </div>
        <div class="card-action">
            Ann and MW, M.D
        </div>
    </div>
    <div class="card white">
        <div class="card-content">
            <p>I am happy to be in nice condominium Emily helped me to acquire. Since I am a out of town purchaser, I encountered many time constraints, complicated schedules, funding plan and so on. Emily was extremely helpful to accept all of these problems with me and yet to carry on house hunting and went through all of procedures for final decision. She provided many personal help going out of her ways to render support for me. She helped me out with her professionalism and knowledge to make things happen. I am deeply grateful to her.</p>
            <br>
            <p>I am very glad to have met her and definitely will bring my friends to her for house hunting in this area.</p>
        </div>
        <div class="card-action">
            Soowon Kim, Retired librarian, Pricenton University
        </div>
    </div>
    <div class="card white">
        <div class="card-content">
            <p>Emily is a good Realtor agent. She is diligent and courteous but not pushy.</p>
            <br>
            <p>We bought a condominium through her. The unit was not even listed but she dug it out after our offer for another similar unit didn't go through.</p>
            <br>
            <p>We highly recommend her for anyone looking for residence in Santa Clara county.</p>
        </div>
        <div class="card-action">
            Y. Huang, Retired Business Owner
        </div>
    </div>
    <div class="card white">
        <div class="card-content">
            <p>Now, after a year of renting, we finally settled down. I can´t believe that I am sitting in my living room drinking coffee in my Palo Alto home. My kid is going to great Palo Alto school within biking distance. My husband´s job is shorter distance now which give him more time to spend among the family,he feels great! We are really happy with where we are at and with the pricethat we paid for this house.</p>
            <br>
            <p>The first person that I wanted to thank is Emily Chiang. With a short interview, she knew exactly what type of properties that we were looking for. We really appreciated her not only found us the right property but also within our price range. She acted quickly right after the listing was up on the market and the entire escrow process was just as smooth as it can be. Her professionalism made the entire closing process under control. We´ve always heard how hard it is to made offers if there is more than one interested buyers. But Emily did a great job presenting our offer to the seller with a price that was not the highest. We are glad that we had her as our real estate agent, if there is other opportunities to buy a property again in this area, she would definitely be our number one choice.
            <br>
            <p>Thank you Emily!<p>
        </div>
        <div class="card-action">
            Joanne So, Dental Professional
        </div>
    </div>
    <div class="card white">
        <div class="card-content">
            <p>I knew I'd chosen the right agent the first time I met Emily in my Palo Alto home. In what was generally a depressed housing market, it wasn't the best time to sell. But Emily's tenacity and tireless dedication to finding all potential buyers in the area made it possible to sell my home within weeks rather than months. Without her expertise, insight, and invaluable counsel, I've no doubt I'd still be looking for a buyer today. I'd recommend Emily without hesitation to anyone looking to buy or
            sell a home. In these difficult financial times, a superior realtor can make all the
            difference in the world. Those fortunate enough to find Emily will have such a realtor.</p>
        </div>
        <div class="card-action">
            Andrea Kim, resident of Palo Alto for 17 years
        </div>
    </div>
    <div class="card white">
        <div class="card-content">
            <p>Emily has an ideal set of professional skills which include keen observation of the market, strong technical skills, and an effective working manner. When unexpected events occurred, Emily was quick
            to step in and help us with alternative solutions. We appreciated her work, and trust Emily as our preferred realtor.</p>
        </div>
        <div class="card-action">
            <ul>
                <li>Paul Liu, Ph.D., C.E.O.</li>
                <li>Jen Liu M.D.</li>
            </ul>
        </div>
    </div>
    <div class="card white">
        <div class="card-content">
            <p>Emily is knowledgable, competent and helps me make decisions faster and easier. She did a good job on negotiating the best price for me. I am happy with her service and glad to refer her to my friends.</p>
        </div>
        <div class="card-action">
            Li May, marketing professional in Palo Alto and a mom with two loving kids
        </div>
    </div>
    <div class="card white">
        <div class="card-content">
            <p>Emily did a great job for us, she delivered on every promise she made and communicated in a straight forward manner that kept us in the loop. When a problem occurred Emily quickly let us know the situation and what she was doing to solve it.
            I am happy with the home, the way the transaction was handled, and her efficiency. I would certainly recommend Emily to anyone thinking of buying Homes.</p>
        </div>
        <div class="card-action">
            <ul>
                <li>Woanyu Yu</li>
                <li>Yenwen Liu, PhD, Senior Director of Engineering</li>
            </ul>
        </div>
    </div>
    <div class="card white">
        <div class="card-content">
            <p>Dear Emily,</p>
            <br>
            <p>We truly appreciate your time and effort in educating us about the Palo Alto real estate market. You were always responsive and extremely patient to answer our list of long questions. You can definitely count on our recommendation for your services to our friends.</p>
            <br>
            <p>Thank you very much Emily.</p>
        </div>
        <div class="card-action">
            Shirley Lin
        </div>
    </div>
    <div class="card white">
        <div class="card-content">
            <p>Dear Emily,</p>
            <br>
            <p>Congratulations again! You did a fantastic job presenting the offer. My sellers and we were very impressed.</p>
            <br>
            <p>Sincerely,</p>
        </div>
        <div class="card-action">
            Donna and Neal Schwartz, Coldwell Banker of Saratoga
        </div>
    </div>
</div>
