.dropdown-content {
    .item {
        color: $black;
        padding: 15px;
        background: $white;
        opacity: 1;
    }
}

.navbar {
    position: fixed;
    opacity: 0.97;
    background-color: $blue;
    z-index: 1000;
    user-select: none;
    .nav-wrapper {
        margin: 0 10px;
        ul {
            li {
                a {
                    font-size: 1.25rem;
                }
            }
        }
    }
}
